.Page2{
    position:absolute;
    width:100%;
    height:100%;
    overflow:scroll;
}
.Page3{
    position:absolute;
    width:100%;
    height:100%;
    overflow:scroll;
}
.sheet{
    position:absolute;
    width:85%;
    top: 15%;
    left: 25%;
}
.number{
    position: absolute;
    top:15%;
    left:20%;
    width:5%;
}
.sheet1{
    position:absolute;
    width:85%;
    top: 5%;
    left: 25%;
}
.number1{
    position: absolute;
    top:5%;
    left:20%;
    width:5%;
}
.next{
    position: absolute;
    top:50%;
    left:35%;
    width:5%;
}
.next1{
    position: absolute;
    top:35%;
    left:30%;
    width:100%;
}
.note{
    position: absolute;
    top: 45%;
    left:22%;
    width:800px;
    height: 150px;
}
.note1{
    position: absolute;
    top: 42%;
    left:22%;
    width:5%;
}
#c1{
    position: absolute;
    top: 85px;
    left: 15%;
    border-radius: 15px;
}
#c2{
    position: absolute;
    top: 185px;
    left: 15%;
    border-radius: 15px;
}
#c3{
    position: absolute;
    top: 285px;
    left: 15%;
    border-radius: 15px;
}
#c4{
    position: absolute;
    top: 385px;
    left: 15%;
    border-radius: 15px;
}
#c5{
    position: absolute;
    top: 485px;
    left: 15%;
    border-radius: 15px;
}
#c6{
    position: absolute;
    top: 585px;
    left: 15%;
    border-radius: 15px;
}
#c7{
    position: absolute;
    top: 85px;
    left: 15%;
    border-radius: 15px;
}
#c8{
    position: absolute;
    top: 185px;
    left: 15%;
    border-radius: 15px;
}
#c9{
    position: absolute;
    top: 285px;
    left: 15%;
    border-radius: 15px;
}
#c10{
    position: absolute;
    top: 385px;
    left: 15%;
    border-radius: 15px;
}
#c11{
    position: absolute;
    top: 485px;
    left: 15%;
    border-radius: 15px;
}
#c12{
    position: absolute;
    top: 585px;
    left: 15%;
    border-radius: 15px;
}
#grade table{
    margin: 0px auto;
    font-family: verdana,arial,sans-serif;
    font-size:21px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
#grade table th{
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
#grade table td{
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
.Question{
    font-size: 30px;
    font-weight: bold;
}
.an{
    font-size: 8px;
}
.answer{
    font-size: 20px;
    position: absolute;
    left:2%;
}
.analysis{
    font-size: 20px;
    position:absolute;
    left:4%;
    width: 700px;
    height: 50px;
}
.sidebar{
    position:absolute;
    width:17%;
    height:90%;
    left: 2%;
    top:5%;
}
.sidebar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
}
.sidebar li a{
    display: block;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-size: 150%;
    height: 221px;
    line-height: 189px;
}
.sidebar li a:hover{
    background-color: gray;
    color: white;
    border-left-color: black;
    border-left-style: solid;
}
.Page1-1{
    position:absolute;
    top: 5%;
    left: 21%;
    width:78%;
    height: 90%;
    background-color: #f1f1f1;
    overflow:scroll;
}
.button{
    background-color: #999999;
    color: black;
    width: 220px;
    height: 221px;
    padding: 20px 25px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    float: left;
    border: 1px solid #666666;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
.button_2{
    background-color: #FE8332;
    color: white;
    text-align: center;
    height: 25px;
    width: 120px;
    border: none;
    border-radius: 15px;
}

#b1 {
    position: absolute;
    top: 80px;
    left: 65%;
}
#b2 {
    position: absolute;
    top: 180px;
    left: 65%;
}
#b3 {
    position: absolute;
    top: 280px;
    left: 65%;
}
#b4 {
    position: absolute;
    top: 380px;
    left: 65%;
}
#b5 {
    position: absolute;
    top: 480px;
    left: 65%;
}
#b6 {
    position: absolute;
    top: 580px;
    left: 65%;
}
#b7 {
    position: absolute;
    top: 80px;
    left: 65%;
}
#b8 {
    position: absolute;
    top: 180px;
    left: 65%;
}
#b9 {
    position: absolute;
    top: 280px;
    left: 65%;
}
#b10 {
    position: absolute;
    top: 380px;
    left: 65%;
}
#b11 {
    position: absolute;
    top: 480px;
    left: 65%;
}
#b12 {
    position: absolute;
    top: 580px;
    left: 65%;
}
#next_button1{
    position: absolute;
    top: 350px;
    left: 20%;
}
#next_button2{
    position: absolute;
    top: 350px;
    left: 20%;
}
#next_button3{
    position: absolute;
    top: 350px;
    left: 20%;
}
#next_button4{
    position: absolute;
    top: 350px;
    left: 20%;
}
#back_button1{
    position: absolute;
    top: 350px;
    left: 0%;
}
#back_button2{
    position: absolute;
    top: 350px;
    left: 0%;
}
#back_button3{
    position: absolute;
    top: 350px;
    left: 0%;
}
#back_button4{
    position: absolute;
    top: 350px;
    left: 0%;
}
.save{
    position: absolute;
    top: 250px;
    left: 32%;
    border-radius: 50px;
    background-color: #999999;
    width: 200px;
    height: 35px;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    float: left;
    border: 1px solid #666666;
}
#save1{
    position: absolute;
    top: 270px;
    left: 30%;
}
#save2{
    position: absolute;
    top: 270px;
    left: 30%;
}
#save3{
    position: absolute;
    top: 270px;
    left: 30%;
}
#save4{
    position: absolute;
    top: 270px;
    left: 30%;
}